.header__title {
  letter-spacing: .16em;
  text-align: left;
  font-family: Bebas Neue, Arial, Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.materials__title, .potr-team__title, .features__title {
  letter-spacing: .16em;
  text-align: left;
  font-family: Bebas Neue, Arial, Helvetica, sans-serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 70px;
}

.end-navigation__logo-link, .questions__title, .benefits__percentage, .potr-size__title, .target__title, .target__item-number, .for-whom__title, .navigation__logo-link {
  letter-spacing: .16em;
  text-align: left;
  font-family: Bebas Neue, Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
}

.end-info__title, .benefits__discount, .feature__title, .target__star {
  letter-spacing: .16em;
  text-align: left;
  font-family: Bebas Neue, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.size__title {
  letter-spacing: .16em;
  text-align: left;
  font-family: Bebas Neue, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.benefit__title {
  letter-spacing: 0;
  text-align: left;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}

@media (width <= 767px) {
  .benefit__title {
    font-size: 32px;
    line-height: 48px;
  }
}

.address__label, .message__title {
  letter-spacing: 0;
  text-align: left;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.end-info__content, .address__content, .message__textarea, .message__textarea-wrapper:after, .message__input, .questions__description, .benefit__description, .size__description, .potr-size__note, .potr-size__description, .slide__window, .recycling__description, .materials__window, .potr-team__description, .feature__description, .target__description, .target__short-info, .menu__link, .navigation__link {
  letter-spacing: 0;
  text-align: left;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.menu__close-link, .about-link {
  letter-spacing: 0;
  text-align: left;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.button {
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.header__price {
  letter-spacing: 0;
  text-align: left;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
}

.header__discount {
  letter-spacing: 0;
  text-align: left;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.products-in-basket {
  text-align: center;
  font-family: Bebas Neue, Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;
}

.aside-potr-pots {
  letter-spacing: .22em;
  text-align: left;
  font-family: Bebas Neue, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.potr-team__name {
  letter-spacing: .16em;
  font-family: Bebas Neue, Arial, Helvetica, sans-serif;
  font-size: 288px;
  font-weight: 400;
  line-height: 346px;
}

.recycling__title {
  letter-spacing: 0;
  text-align: left;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.photo__caption {
  letter-spacing: 0;
  text-align: left;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Bebas Neue;
  src: url("BebasNeue-Regular.e4881129.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url("Manrope-Regular.61338348.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url("Manrope-SemiBold.5f6655b6.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url("Manrope-Bold.7b5495ba.ttf");
  font-weight: 700;
  font-style: normal;
}

@media (width <= 767px) {
  .header__title {
    font-size: 36px;
    line-height: 43px;
  }
}

.navigation__logo-link {
  letter-spacing: .06em;
  line-height: 43px;
}

.target__star {
  letter-spacing: 0;
}

.target__item-number {
  line-height: 25px;
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-team__name--name--martin {
    font-size: 232px;
    line-height: 278px;
  }

  .potr-team__name--name--andy {
    font-size: 220px;
    line-height: 264px;
  }
}

@media (width <= 319px) {
  .materials__title {
    font-size: 56px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .materials__title {
    letter-spacing: .12em;
    font-size: 80px;
    line-height: 96px;
  }
}

@media (width >= 1440px) {
  .materials__title {
    letter-spacing: .12em;
    font-size: 139px;
    line-height: 167px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .recycling__description--highlight {
    font-weight: 700;
  }

  .benefits__percentage {
    font-size: 24px;
    line-height: 24px;
  }

  .benefits__discount {
    font-size: 18px;
    line-height: 18px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
}

.header {
  grid-template-columns: repeat(2, 120px);
  justify-content: center;
  gap: 0 20px;
  display: grid;
}

@media (width >= 768px) and (width <= 1439px) {
  .header {
    grid-template-columns: repeat(6, 100px);
  }
}

@media (width >= 1440px) {
  .header {
    grid-template-columns: repeat(12, 70px);
    column-gap: 30px;
  }
}

.header__trapezoid {
  border-bottom: 303px solid #0000;
  border-left: calc((var(--cw)  - 240px - 20px) / 2 * 1 + 1080px + 180px) solid #ffec7a;
  height: 163px;
}

@media (width >= 768px) and (width <= 1439px) {
  .header__trapezoid {
    border-left: calc((var(--cw)  - 600px - 100px) / 2 * 1 + 900px + 180px) solid #ffec7a;
  }
}

@media (width >= 1440px) {
  .header__trapezoid {
    border-left: calc((var(--cw)  - 840px - 330px) / 2 * 1 + 630px + 270px) solid #ffec7a;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .header__trapezoid {
    border-bottom: 167px solid #0000;
    border-left: calc((var(--cw)  - 240px - 20px) / 2 * 1 + 600px + 80px) solid #ffec7a;
    height: 164px;
  }
}

@media (width >= 768px) and (width <= 1439px) and (width >= 768px) and (width <= 1439px) {
  .header__trapezoid {
    border-left: calc((var(--cw)  - 600px - 100px) / 2 * 1 + 500px + 80px) solid #ffec7a;
  }
}

@media (width >= 768px) and (width <= 1439px) and (width >= 1440px) {
  .header__trapezoid {
    border-left: calc((var(--cw)  - 840px - 330px) / 2 * 1 + 350px + 120px) solid #ffec7a;
  }
}

@media (width <= 767px) {
  .header__trapezoid {
    display: none;
  }
}

.header__navigation {
  grid-area: 1 / 1 / 2 / 3;
  margin-bottom: 8px;
}

@media (width >= 768px) and (width <= 1439px) {
  .header__navigation {
    grid-column: 1 / 7;
    margin-bottom: 50px;
  }
}

@media (width >= 1440px) {
  .header__navigation {
    grid-column: 1 / 13;
    margin-bottom: 78px;
  }
}

.header__image {
  display: block;
}

.header__image-wrapper {
  grid-area: 2 / 7 / 5 / 13;
  justify-self: end;
}

@media (width >= 768px) and (width <= 1439px) {
  .header__image-wrapper {
    grid-column: 4 / 7;
  }
}

@media (width <= 767px) {
  .header__image-wrapper {
    grid-area: 2 / 1 / 3 / 3;
    justify-self: center;
    margin-bottom: 25px;
  }

  .header__image {
    width: var(--cw);
  }
}

.header__title {
  color: #0000;
  -webkit-text-stroke: 1px #03839e;
  grid-area: 2 / 2 / 3 / 7;
  margin-bottom: 20px;
}

@media (width >= 768px) and (width <= 1439px) {
  .header__title {
    grid-column: 1 / 5;
    margin-bottom: -30px;
  }
}

@media (width <= 767px) {
  .header__title {
    grid-area: 3 / 1 / 4 / 3;
    margin-bottom: 30px;
  }
}

.header__title--highlight {
  color: #03839e;
}

.header__discount-info {
  grid-area: 3 / 5 / 4 / 7;
  margin-bottom: 50px;
}

@media (width <= 767px) {
  .header__discount-info {
    grid-area: 4 / 1 / 5 / 3;
    margin-bottom: 20px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .header__discount-info {
    grid-column: 3 / 5;
  }
}

.header__price {
  color: #333;
  margin-bottom: 1px;
}

@media (width >= 1440px) {
  .header__price {
    margin-bottom: 5px;
  }
}

.header__discount {
  color: #4f4f4f;
}

.header__button {
  grid-area: 4 / 4 / 5 / 7;
}

@media (width <= 767px) {
  .header__button {
    grid-area: 5 / 1 / 6 / 3;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .header__button {
    grid-column: 2 / 4;
    width: calc(100% + 20px);
  }
}

.header__about-link {
  pointer-events: auto;
  transform-origin: 0 100%;
  position: absolute;
  bottom: calc(100% - 30px);
  transform: rotate(90deg);
}

.header__about-link-wrapper {
  pointer-events: none;
  grid-area: 3 / 1 / 5 / 2;
  position: relative;
}

@media (width <= 767px) {
  .header__about-link-wrapper {
    grid-area: 5 / 2 / 6 / 3;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .header__about-link {
    bottom: calc(100% - 40px);
  }
}

@media (width <= 767px) {
  .header__about-link {
    transform-origin: 100% 100%;
    bottom: 0;
    right: -7px;
  }
}

.trapezoid {
  z-index: -1;
  position: absolute;
  left: 0;
}

.navigation {
  grid-template-columns: repeat(2, 120px);
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  padding-top: 13px;
  display: grid;
}

@media (width >= 768px) and (width <= 1439px) {
  .navigation {
    padding-top: 23px;
  }
}

@media (width >= 1440px) {
  .navigation {
    padding-top: 14px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .navigation {
    grid-template-columns: repeat(6, 100px);
  }
}

@media (width >= 1440px) {
  .navigation {
    grid-template-columns: repeat(12, 70px);
    column-gap: 30px;
  }
}

.navigation__logo-link {
  color: #333;
  grid-area: 1 / 1 / 2 / 3;
  justify-self: start;
}

.navigation__links {
  list-style: none;
  display: none;
}

@media (width >= 1440px) {
  .navigation__links {
    grid-column: 5 / 11;
    gap: 60px;
    display: flex;
  }
}

.navigation__item {
  transition: transform .3s;
}

.navigation__item:hover {
  transform: scale(1.2);
}

.navigation__link {
  color: #4f4f4f;
  text-decoration: none;
}

.navigation__menu-link {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: end;
}

@media (width >= 768px) and (width <= 1439px) {
  .navigation__menu-link {
    grid-column: 6 / 7;
  }
}

.navigation__basket-link {
  grid-column: 12 / 13;
  justify-self: end;
}

.logo-link {
  text-decoration: none;
  transition: transform .3s;
}

.logo-link:hover {
  transform: scale(1.2);
}

.basket-link {
  background-image: url("basket-icon.6d230f03.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  transition: transform .3s;
  display: none;
}

.basket-link:hover {
  transform: scale(1.2);
}

@media (width >= 1440px) {
  .basket-link {
    display: block;
  }
}

.basket-link__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.menu-link {
  background-image: url("menu-icon.f9c77961.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  transition: transform .3s;
  display: block;
}

.menu-link:hover {
  transform: scale(1.2);
}

@media (width >= 1440px) {
  .menu-link {
    display: none;
  }
}

.menu-link__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.button {
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 48px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.button__arrow, .button__arrow:before, .button__arrow:after {
  background-color: #000;
}

@media (width <= 767px) {
  .button--device--not-mobile {
    display: none;
  }
}

.button--device--mobile {
  display: none;
}

@media (width <= 767px) {
  .button--device--mobile {
    display: flex;
  }
}

.button--primary {
  color: #fff;
  background-color: #03839e;
  border: 1px solid #03839e;
}

.button--primary:hover {
  background-color: #03839eb2;
  border-color: #0000;
}

.button--primary2 {
  background-color: #ffe339;
  border: 1px solid #ffe339;
}

.button--primary2:hover {
  opacity: .7;
}

.button--primary .button__arrow, .button--primary .button__arrow:before, .button--primary .button__arrow:after {
  background-color: #fff;
}

.button--secondary {
  border: 1px solid #03839e;
}

.button--secondary:hover {
  color: #fff;
  background-color: #03839e;
}

.button--secondary:hover .button__arrow, .button--secondary:hover .button__arrow:before, .button--secondary:hover .button__arrow:after {
  background-color: #fff;
}

.about-link {
  text-wrap: nowrap;
  color: #03839e;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  display: flex;
}

@media (width <= 319px) {
  .about-link {
    display: none;
  }
}

.about-link__arrow, .about-link__arrow:before, .about-link__arrow:after {
  background-color: #03839e;
}

.about-link:hover .about-link__arrow {
  transform: translateX(10px);
}

.arrow {
  width: 25px;
  height: 1px;
  transition: all .3s;
}

.arrow:before {
  content: "";
  transform-origin: 100%;
  border-radius: 1px;
  width: 5px;
  height: 1px;
  transition: background-color .3s;
  display: block;
  transform: translate(20px, -.25px)rotate(-45deg);
}

.arrow:after {
  content: "";
  transform-origin: 100%;
  border-radius: 1px;
  width: 5px;
  height: 1px;
  transition: background-color .3s;
  display: block;
  transform: translate(20px, -.75px)rotate(45deg);
}

.arrow--long {
  width: 44px;
}

.arrow--long:before {
  content: "";
  transform-origin: 100%;
  border-radius: 1px;
  width: 5px;
  height: 1px;
  transition: background-color .3s;
  display: block;
  transform: translate(39px, -.25px)rotate(-45deg);
}

.arrow--long:after {
  content: "";
  transform-origin: 100%;
  border-radius: 1px;
  width: 5px;
  height: 1px;
  transition: background-color .3s;
  display: block;
  transform: translate(39px, -.75px)rotate(45deg);
}

.menu {
  z-index: 2;
  box-sizing: border-box;
  width: calc(200px + (var(--cw)  - 240px - 20px) / 2);
  background-color: #03839e;
  grid-template-rows: 3fr min-content 2fr 118px 1fr;
  grid-template-columns: 120px;
  justify-content: left;
  height: 100vh;
  padding-left: 80px;
  transition: transform .3s ease-in-out;
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(101%);
}

.menu:target {
  transform: translateX(0);
}

@media (height <= 319px) {
  .menu {
    grid-template-rows: 1fr;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .menu {
    width: calc(170px + (var(--cw)  - 600px - 100px) / 2);
    grid-template-columns: 100px;
    padding-left: 70px;
  }
}

@media (width >= 1440px) {
  .menu {
    display: none;
  }
}

.menu__links {
  flex-direction: column;
  grid-area: 2 / 1 / 3 / 2;
  gap: 15px;
  list-style: none;
  display: flex;
}

@media (height <= 319px) {
  .menu__links {
    grid-row: 1 / 2;
    justify-content: flex-start;
  }
}

.menu__link {
  color: #f8f8f8;
  gap: 8px;
  text-decoration: none;
  transition: transform .3s;
  display: inline-flex;
}

.menu__link:hover {
  transform: scale(1.2);
}

.menu__close-link {
  transform-origin: 100% 100%;
  transition: transform .3s;
  position: absolute;
  bottom: 100%;
  right: 0;
  transform: rotate(-90deg);
}

.menu__close-link-wrapper {
  grid-area: 4 / 1 / 5 / 2;
  position: relative;
}

@media (height <= 319px) {
  .menu__close-link-wrapper {
    grid-row: 1 / 2;
  }
}

.menu__close-link:hover {
  transform: rotate(-90deg)scale(1.2);
}

@media (height <= 319px) {
  .menu__close-link {
    transform-origin: 0 100%;
    bottom: 0;
    left: 100%;
    right: auto;
  }
}

.products-in-basket {
  background-color: #eb5757;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  line-height: 14px;
  display: inline-block;
}

.close-link {
  text-transform: uppercase;
  color: #f8f8f8;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  display: flex;
}

.close-link__cross {
  margin-right: 13px;
}

.cross {
  width: 16px;
  height: 16px;
}

.cross:before {
  content: "";
  background-color: #f8f8f8;
  width: 16px;
  height: 1px;
  display: block;
  transform: translateY(7.5px)rotate(-45deg);
}

.cross:after {
  content: "";
  background-color: #f8f8f8;
  width: 16px;
  height: 1px;
  display: block;
  transform: translateY(6.5px)rotate(45deg);
}

.line {
  background-color: #828282;
  width: 44px;
  height: 1px;
}

.line--light-grey {
  background-color: #f8f8f8;
}

.line--long {
  width: 65px;
}

.for-whom {
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(2, 120px);
  justify-content: center;
  gap: 0 20px;
  padding-top: 110px;
  display: grid;
}

@media (width >= 768px) and (width <= 1439px) {
  .for-whom {
    grid-template-columns: repeat(6, 100px);
  }
}

@media (width >= 1440px) {
  .for-whom {
    grid-template-columns: repeat(12, 70px);
    column-gap: 30px;
    padding-top: 192px;
  }
}

.for-whom__title {
  color: #333;
  grid-area: 1 / 1 / 2 / 3;
  margin-bottom: 25px;
}

@media (width >= 768px) and (width <= 1439px) {
  .for-whom__title {
    margin-bottom: 18px;
  }
}

@media (width >= 1440px) {
  .for-whom__title {
    grid-column: 1 / 4;
    margin-bottom: 34px;
  }
}

.for-whom__target {
  grid-column: 1 / 3;
}

@media (width <= 767px) {
  .for-whom__target {
    margin-bottom: 70px;
  }

  .for-whom__target:last-of-type {
    grid-row: 4 / 5;
    margin-bottom: 0;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .for-whom__target {
    grid-column: 1 / 7;
    margin-bottom: 110px;
  }

  .for-whom__target:last-of-type {
    margin-bottom: 0;
  }
}

@media (width >= 1440px) {
  .for-whom__target {
    grid-column: 1 / 13;
  }

  .for-whom__target:nth-child(3), .for-whom__target:nth-child(4) {
    grid-row: 3 / 4;
  }
}

.for-whom__aside-potr-pots-wrapper {
  grid-area: 4 / 2 / 5 / 3;
}

@media (width <= 767px) {
  .for-whom__aside-potr-pots-wrapper {
    transform: translateX(11px);
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .for-whom__aside-potr-pots-wrapper {
    grid-area: 1 / 6 / 2 / 7;
    transform: translateX(12px);
  }
}

@media (width >= 1440px) {
  .for-whom__aside-potr-pots-wrapper {
    grid-area: 1 / 12 / 2 / 13;
  }

  .for-whom__aside-potr-pots-wrapper:last-child {
    grid-area: 3 / 1 / 4 / 2;
  }
}

.target {
  grid-template-columns: repeat(2, 120px);
  place-content: start center;
  gap: 0 20px;
  display: grid;
}

@media (width >= 768px) and (width <= 1439px) {
  .target {
    grid-template-columns: repeat(6, 100px);
  }
}

@media (width >= 1440px) {
  .target {
    grid-template-columns: repeat(12, 70px);
    column-gap: 30px;
  }
}

.target__image {
  display: block;
}

.target__short-info {
  color: #333;
  position: relative;
}

.target__star {
  color: #000;
  position: absolute;
}

.target__item-number, .target__title {
  color: #000;
}

.target__description {
  color: #4f4f4f;
}

@media (width <= 767px) {
  .target__image-wrapper, .target__short-info {
    display: none;
  }

  .target__item-number {
    grid-column: 1 / 3;
    margin-bottom: 30px;
  }

  .target__title {
    grid-column: 1 / 3;
    margin-bottom: 20px;
  }

  .target__description {
    grid-column: 1 / 3;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .target:nth-child(3) {
    grid-template-rows: 1fr min-content min-content;
  }

  .target__image-wrapper {
    grid-area: 1 / 1 / 4 / 4;
    align-self: end;
  }

  .target__short-info {
    grid-area: 1 / 4 / 2 / 5;
    align-self: end;
    margin-bottom: 25px;
  }

  .target__star {
    right: calc(100% + 10px);
  }

  .target__item-number {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: end;
    margin-bottom: 22px;
  }

  .target__title {
    grid-area: 2 / 4 / 3 / 7;
    margin-bottom: 10px;
  }

  .target__description {
    grid-area: 3 / 4 / 4 / 7;
  }

  .target:nth-child(2) .target__description {
    margin-bottom: 14px;
  }

  .target:nth-child(3) .target__image-wrapper {
    grid-area: 1 / 4 / 5 / 7;
    justify-self: end;
  }

  .target:nth-child(3) .target__short-info {
    grid-area: 1 / 3 / 2 / 4;
    margin-bottom: 29px;
  }

  .target:nth-child(3) .target__star {
    right: calc(100% + 7px);
  }

  .target:nth-child(3) .target__item-number {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
  }

  .target:nth-child(3) .target__title {
    grid-area: 3 / 1 / 4 / 4;
  }

  .target:nth-child(3) .target__description {
    grid-area: 4 / 1 / 5 / 4;
    margin-bottom: 74px;
  }

  .target:nth-child(4) .target__image-wrapper {
    margin-bottom: 5px;
  }

  .target:nth-child(4) .target__short-info {
    margin-bottom: 17px;
  }

  .target:nth-child(4) .target__star {
    right: calc(100% + 20px);
  }
}

@media (width >= 1440px) {
  .target:nth-child(2) {
    grid-template-rows: 1fr min-content min-content;
  }

  .target__image-wrapper {
    grid-area: 1 / 1 / 4 / 7;
    margin-bottom: 45px;
  }

  .target__short-info {
    grid-area: 1 / 8 / 2 / 9;
    align-self: end;
    margin-bottom: 40px;
  }

  .target__star {
    top: 5px;
    right: calc(100% + 30px);
  }

  .target__item-number {
    grid-area: 2 / 7 / 3 / 8;
    margin-bottom: 27px;
  }

  .target__title {
    grid-area: 2 / 8 / 3 / 12;
    margin-bottom: 10px;
  }

  .target__description {
    grid-area: 3 / 8 / 4 / 12;
  }

  .target:nth-child(2) .target__image-wrapper {
    margin-bottom: 0;
  }

  .target:nth-child(2) .target__description {
    margin-bottom: 122px;
  }

  .target:nth-child(3) .target__image-wrapper {
    grid-area: 1 / 2 / 2 / 6;
    padding-top: 185px;
  }

  .target:nth-child(3) .target__short-info {
    grid-area: 2 / 2 / 3 / 3;
  }

  .target:nth-child(3) .target__star {
    right: calc(100% + 36px);
  }

  .target:nth-child(3) .target__item-number {
    grid-area: 3 / 2 / 4 / 3;
  }

  .target:nth-child(3) .target__title {
    grid-area: 4 / 2 / 5 / 6;
  }

  .target:nth-child(3) .target__description {
    grid-area: 5 / 2 / 6 / 6;
  }

  .target:nth-child(4) .target__image-wrapper {
    grid-area: 1 / 8 / 2 / 13;
    padding-top: 80px;
  }

  .target:nth-child(4) .target__short-info {
    grid-area: 2 / 8 / 3 / 10;
  }

  .target:nth-child(4) .target__item-number {
    grid-area: 3 / 8 / 4 / 9;
  }

  .target:nth-child(4) .target__title {
    grid-area: 3 / 9 / 4 / 13;
    width: 103%;
  }

  .target:nth-child(4) .target__description {
    grid-area: 4 / 9 / 5 / 13;
  }
}

.slash {
  width: 18px;
  height: 46px;
  display: inline-block;
}

.slash--lowered {
  height: 37px;
}

@media (width <= 767px) {
  .slash--device--not-mobile {
    display: none;
  }
}

.slash:before {
  content: "";
  transform-origin: 100% 100%;
  background-color: #333;
  width: 1px;
  height: 46px;
  display: inline-block;
  position: absolute;
  transform: rotate(22deg);
}

.aside-potr-pots-wrapper {
  display: none;
  position: relative;
}

@media (width >= 1440px) {
  .aside-potr-pots-wrapper--device--desktop {
    display: block;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .aside-potr-pots-wrapper--device--tablet {
    display: block;
  }
}

@media (width <= 767px) {
  .aside-potr-pots-wrapper--device--mobile {
    display: block;
  }
}

@media (width <= 319px) {
  .aside-potr-pots-wrapper--device--mobile {
    display: none;
  }
}

.aside-potr-pots-wrapper__aside-potr-pots {
  transform-origin: 0 100%;
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: rotate(90deg);
}

.aside-potr-pots-wrapper--position--down .aside-potr-pots-wrapper__aside-potr-pots {
  transform-origin: 100% 100%;
  bottom: 0;
  left: auto;
  right: 0;
}

.aside-potr-pots-wrapper--position--inside .aside-potr-pots-wrapper__aside-potr-pots {
  transform-origin: 0 0;
  bottom: auto;
  left: 100%;
}

.aside-potr-pots-wrapper--position--shifted .aside-potr-pots-wrapper__aside-potr-pots {
  transform-origin: 100% 100%;
  bottom: calc(100% - 15px);
  left: auto;
  right: 0;
}

.aside-potr-pots-wrapper--position--down-left-inside-rotated .aside-potr-pots-wrapper__aside-potr-pots {
  transform-origin: 0 0;
  top: 100%;
  bottom: auto;
  left: auto;
  transform: rotate(-90deg);
}

.aside-potr-pots-wrapper--position--left-shifted .aside-potr-pots-wrapper__aside-potr-pots {
  transform-origin: 0 0;
  top: -54px;
  bottom: auto;
  left: auto;
  transform: rotate(90deg);
}

.aside-potr-pots {
  text-wrap: nowrap;
  text-transform: uppercase;
  color: #828282;
  align-items: center;
  gap: 10px;
  display: flex;
}

.features {
  grid-template-columns: repeat(2, 120px);
  justify-content: center;
  gap: 0 20px;
  padding-top: 110px;
  display: grid;
}

@media (width >= 768px) and (width <= 1439px) {
  .features {
    grid-template-columns: repeat(6, 100px);
  }
}

@media (width >= 1440px) {
  .features {
    grid-template-columns: repeat(12, 70px);
    column-gap: 30px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .features {
    padding-top: 131px;
  }
}

@media (width >= 1440px) {
  .features {
    padding-top: 150px;
  }
}

.features__title {
  color: #0000;
  -webkit-text-stroke: 1px #03839e;
  grid-column: 1 / 13;
  margin-bottom: 74px;
}

@media (width >= 768px) and (width <= 1439px) {
  .features__title {
    grid-column: 1 / 7;
    margin-bottom: 52px;
  }
}

@media (width <= 767px) {
  .features__title {
    grid-column: 1 / 3;
    width: 105%;
    margin-bottom: 25px;
  }
}

@media (width <= 767px) and (width <= 319px) {
  .features__title {
    width: 100%;
  }
}

.features__title--highlight {
  color: #03839e;
}

.features__feature {
  grid-column: span 2;
}

@media (width <= 767px) {
  .features__feature {
    margin-bottom: 70px;
  }

  .features__feature:last-child {
    margin-bottom: 0;
  }
}

@media (width >= 1440px) {
  .features__feature {
    grid-column: span 4;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .features__feature:last-child {
    grid-area: 2 / 1 / 3 / 3;
  }
}

.feature {
  flex-direction: column;
  display: flex;
}

.feature__image {
  object-fit: fill;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
}

.feature__image-wrapper {
  margin-bottom: 30px;
  padding-top: 100%;
  position: relative;
}

@media (width <= 767px) {
  .feature__image-wrapper {
    margin-bottom: 35px;
  }
}

.feature__title {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

@media (width >= 768px) and (width <= 1439px) {
  .feature__title {
    text-align: start;
  }
}

.feature__description {
  color: #4f4f4f;
  text-align: center;
}

@media (width >= 768px) and (width <= 1439px) {
  .feature__description {
    text-align: start;
  }
}

.potr-team {
  grid-template-columns: repeat(2, 120px);
  justify-content: center;
  gap: 0 20px;
  max-width: 100%;
  padding-top: 110px;
  display: grid;
  position: relative;
  overflow: hidden;
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-team {
    grid-template-columns: repeat(6, 100px);
  }
}

@media (width >= 1440px) {
  .potr-team {
    grid-template-columns: repeat(12, 70px);
    column-gap: 30px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-team {
    padding-top: 132px;
  }
}

@media (width >= 1440px) {
  .potr-team {
    padding-top: 150px;
  }
}

.potr-team__trapezoid {
  border-bottom: 147px solid #0000;
  border-left: calc((var(--cw)  - 240px - 20px) / 2 * 1 + 360px + 60px) solid #ffec7a;
  height: 164px;
  top: 335px;
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-team__trapezoid {
    border-left: calc((var(--cw)  - 600px - 100px) / 2 * 1 + 300px + 60px) solid #ffec7a;
  }
}

@media (width >= 1440px) {
  .potr-team__trapezoid {
    border-left: calc((var(--cw)  - 840px - 330px) / 2 * 1 + 210px + 90px) solid #ffec7a;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-team__trapezoid {
    border-bottom: 69px solid #0000;
    border-left: calc((var(--cw)  - 240px - 20px) / 2 * 1 + 240px + 20px) solid #ffec7a;
    height: 164px;
    top: 302px;
  }
}

@media (width >= 768px) and (width <= 1439px) and (width >= 768px) and (width <= 1439px) {
  .potr-team__trapezoid {
    border-left: calc((var(--cw)  - 600px - 100px) / 2 * 1 + 200px + 20px) solid #ffec7a;
  }
}

@media (width >= 768px) and (width <= 1439px) and (width >= 1440px) {
  .potr-team__trapezoid {
    border-left: calc((var(--cw)  - 840px - 330px) / 2 * 1 + 140px + 30px) solid #ffec7a;
  }
}

@media (width <= 767px) {
  .potr-team__trapezoid {
    border-bottom: 95px solid #0000;
    border-left: calc((var(--cw)  - 240px - 20px) / 2 * 2 + 240px + 20px) solid #ffec7a;
    height: 198px;
    top: auto;
    bottom: 0;
  }
}

@media (width <= 767px) and (width >= 768px) and (width <= 1439px) {
  .potr-team__trapezoid {
    border-left: calc((var(--cw)  - 600px - 100px) / 2 * 2 + 200px + 20px) solid #ffec7a;
  }
}

@media (width <= 767px) and (width >= 1440px) {
  .potr-team__trapezoid {
    border-left: calc((var(--cw)  - 840px - 330px) / 2 * 2 + 140px + 30px) solid #ffec7a;
  }
}

.potr-team__title {
  color: #333;
  grid-column: 1 / 3;
  margin-bottom: 25px;
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-team__title {
    grid-column: 1 / 6;
    margin-bottom: 177px;
  }
}

@media (width >= 1440px) {
  .potr-team__title {
    grid-column: 1 / 7;
    margin-bottom: 143px;
  }
}

.potr-team__image {
  display: block;
}

.potr-team__image-wrapper {
  grid-area: 2 / 4 / 3 / 12;
  justify-self: end;
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-team__image-wrapper {
    grid-area: 2 / 4 / 3 / 7;
  }
}

@media (width <= 767px) {
  .potr-team__image-wrapper {
    grid-column: 1 / 3;
    justify-self: center;
    margin-bottom: 30px;
  }

  .potr-team__image {
    width: var(--cw);
  }
}

.potr-team__description {
  color: #4f4f4f;
}

@media (width <= 767px) {
  .potr-team__description {
    grid-column: 1 / 3;
    margin-bottom: 58px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-team__description {
    grid-area: 2 / 1 / 3 / 4;
    margin-bottom: 113px;
    padding-top: 53px;
  }
}

@media (width >= 1440px) {
  .potr-team__description {
    grid-area: 2 / 1 / 3 / 5;
    width: 90%;
    margin-bottom: 240px;
    padding-top: 230px;
  }
}

.potr-team__name {
  color: #0000;
  -webkit-text-stroke: 3px #03839e;
  position: absolute;
}

@media (width <= 767px) {
  .potr-team__name {
    display: none;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-team__name {
    top: 219px;
    left: -47px;
  }

  .potr-team__name:last-child {
    top: 597px;
    left: auto;
    right: -32px;
  }
}

@media (width >= 1440px) {
  .potr-team__name {
    top: 247px;
    left: 73px;
  }

  .potr-team__name:last-child {
    top: 817px;
    left: auto;
    right: -45px;
  }
}

.materials {
  grid-template-rows: min-content 1fr;
  grid-template-columns: repeat(2, 120px);
  justify-content: center;
  align-items: start;
  gap: 0 20px;
  display: grid;
  position: relative;
}

@media (width >= 768px) and (width <= 1439px) {
  .materials {
    grid-template-columns: repeat(6, 100px);
  }
}

@media (width >= 1440px) {
  .materials {
    grid-template-columns: repeat(12, 70px);
    column-gap: 30px;
  }
}

@media (width <= 767px) {
  .materials {
    padding-top: 110px;
  }
}

.materials__title {
  z-index: 1;
  color: #03839e;
  -webkit-text-stroke: 1px #03839e;
  grid-area: 1 / 1 / 2 / 11;
  margin-bottom: -175px;
}

@media (width >= 768px) and (width <= 1439px) {
  .materials__title {
    grid-column: 1 / 6;
    margin-bottom: 0;
  }
}

@media (width <= 767px) {
  .materials__title {
    grid-column: 1 / 3;
    margin-bottom: -69px;
  }
}

.materials__recycling {
  z-index: 1;
}

@media (width >= 1440px) {
  .materials__recycling {
    grid-area: 2 / 8 / 3 / 13;
    padding-top: 6px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .materials__recycling {
    grid-area: 1 / 4 / 2 / 7;
    margin-bottom: -115px;
    padding-top: 141px;
  }
}

@media (width <= 767px) {
  .materials__recycling {
    display: none;
  }
}

.materials__gradient {
  bottom: 0;
  right: calc((var(--cw)  - 840px - 330px) / 2);
  width: var(--cw);
  aspect-ratio: 1.33;
  background-color: #0000;
  background-image: linear-gradient(#f8f8f8 0%, #fff0 30.93%), url("materials-img-desktop.556fd5b9.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  grid-area: 2 / 1 / 3 / 13;
  position: relative;
}

@media (width >= 768px) and (width <= 1439px) {
  .materials__gradient {
    right: calc((var(--cw)  - 600px - 100px) / 2);
    background-color: #0000;
    background-image: linear-gradient(#f8f8f8 0%, #fff0 30.93%), url("materials-img-tablet.437756a5.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll, scroll;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
    grid-column: 1 / 7;
  }
}

@media (width <= 767px) {
  .materials__gradient {
    right: calc((var(--cw)  - 240px - 20px) / 2);
    background-color: #0000;
    background-image: linear-gradient(#f8f8f8 0%, #fff0 30.93%), url("materials-img-mobile.5f53a921.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll, scroll;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
    grid-column: 1 / 3;
  }
}

.materials__circle-button {
  position: absolute;
}

@media (width >= 768px) and (width <= 1439px) {
  .materials__circle-button:first-of-type {
    bottom: 55.27%;
    left: 72.27%;
  }

  .materials__circle-button:nth-of-type(2) {
    bottom: 23.36%;
    left: 54.43%;
  }

  .materials__circle-button:nth-of-type(3) {
    bottom: 12.44%;
    left: 44.01%;
  }

  .materials__circle-button:nth-of-type(4) {
    bottom: 40.01%;
    left: 30.08%;
  }

  .materials__circle-button:nth-of-type(5) {
    bottom: 17.82%;
    left: 10.81%;
  }
}

@media (width >= 1440px) {
  .materials__circle-button:first-of-type {
    bottom: 34.49%;
    left: 77.15%;
  }

  .materials__circle-button:nth-of-type(2) {
    bottom: 25.16%;
    left: 57.99%;
  }

  .materials__circle-button:nth-of-type(3) {
    bottom: 9.71%;
    left: 47.5%;
  }

  .materials__circle-button:nth-of-type(4) {
    bottom: 36.99%;
    left: 37.99%;
  }

  .materials__circle-button:nth-of-type(5) {
    bottom: 14.43%;
    left: 17.64%;
  }
}

.materials__window {
  display: none;
}

.materials__window--active {
  z-index: 1;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  color: #f8f8f8;
  background-color: #0006;
  width: 213px;
  padding: 35px;
  display: block;
  position: absolute;
}

@media (width <= 767px) {
  .materials__window--active {
    display: none;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .materials__window--active:first-of-type {
    bottom: calc(55.27% - 246px);
    left: calc(72.27% - 126px);
  }

  .materials__window--active:nth-of-type(2) {
    bottom: calc(23.36% + 71px);
    left: calc(54.43% - 100px);
  }

  .materials__window--active:nth-of-type(3) {
    bottom: calc(12.44% + 71px);
    left: calc(44.01% - 113px);
  }

  .materials__window--active:nth-of-type(4) {
    bottom: calc(40.01% + 71px);
    left: calc(30.08% - 116px);
  }

  .materials__window--active:nth-of-type(5) {
    bottom: calc(17.82% + 71px);
    left: calc(10.81% - 46px);
  }
}

@media (width >= 1440px) {
  .materials__window--active:first-of-type {
    bottom: calc(34.49% - 243px);
    left: calc(77.15% - 126px);
  }

  .materials__window--active:nth-of-type(2) {
    bottom: calc(25.16% + 93px);
    left: calc(57.99% - 98px);
  }

  .materials__window--active:nth-of-type(3) {
    bottom: calc(9.71% - 86px);
    left: calc(47.5% - 294px);
  }

  .materials__window--active:nth-of-type(4) {
    bottom: calc(36.99% + 71px);
    left: calc(37.99% - 264px);
  }

  .materials__window--active:nth-of-type(5) {
    bottom: calc(14.43% + 81px);
    left: calc(17.64% - 123px);
  }
}

.materials__slider {
  position: absolute;
  bottom: -208px;
}

.materials__aside-potr-pots-wrapper {
  grid-area: 1 / 6 / 2 / 7;
  transform: translateX(10px);
}

.materials__aside-potr-pots-wrapper:last-child {
  grid-area: 2 / 1 / 3 / 2;
  transform: translateX(-10px);
}

.recycling__title {
  color: #4f4f4f;
  margin-bottom: 15px;
}

.recycling__description {
  color: #4f4f4f;
}

.circle-button {
  cursor: pointer;
  background-color: #eb5757;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  padding: 0;
  transition: all .3s;
  display: flex;
}

.circle-button:hover {
  background-color: #03839e;
}

@media (width <= 767px) {
  .circle-button {
    display: none;
  }
}

.circle-button--active {
  background-color: #242323bf;
}

.circle-button--active .circle-button__sign:after {
  display: none;
}

.sign {
  background-color: #e0e0e0;
  width: 11px;
  height: 1px;
  display: inline-block;
  position: relative;
}

.sign:after {
  content: "";
  background-color: #e0e0e0;
  width: 1px;
  height: 11px;
  display: block;
  position: absolute;
  bottom: -5px;
  right: 5px;
}

.slider {
  display: none;
}

@media (width <= 767px) {
  .slider {
    z-index: 1;
    width: var(--cw);
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    overflow: scroll hidden;
  }

  .slider::-webkit-scrollbar {
    display: none;
  }
}

.slider__slide {
  scroll-snap-align: start;
  flex: 1 0 100%;
}

.slide {
  justify-content: center;
  display: flex;
  position: relative;
}

.slide__window {
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  color: #f8f8f8;
  background-color: #00000073;
  width: 302px;
  height: 254px;
  margin-bottom: 5px;
  padding: 28px 44.5px 0;
  box-shadow: 0 3px 2px #00000026;
}

@media (width <= 319px) {
  .slide__window {
    width: 100vw;
    height: 300px;
  }
}

.slide__nav {
  z-index: 1;
  column-gap: 7px;
  display: flex;
  position: absolute;
  bottom: 37px;
}

.slide__button {
  box-sizing: border-box;
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  width: 7px;
  height: 7px;
  transition: transform .3s;
  transform: rotate(45deg);
}

.slide__button:hover {
  transform: rotate(0);
}

.slide:first-child .slide__button:first-child, .slide:nth-child(2) .slide__button:nth-child(2), .slide:nth-child(3) .slide__button:nth-child(3), .slide:nth-child(4) .slide__button:nth-child(4), .slide:nth-child(5) .slide__button:nth-child(5) {
  background-color: #0000004d;
}

.potr-size {
  grid-template-columns: repeat(2, 120px);
  justify-content: center;
  gap: 0 20px;
  padding-top: 313px;
  display: grid;
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-size {
    grid-template-columns: repeat(6, 100px);
  }
}

@media (width >= 1440px) {
  .potr-size {
    grid-template-columns: repeat(12, 70px);
    column-gap: 30px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-size {
    grid-template-rows: auto auto auto 1fr auto;
    padding-top: 110px;
  }
}

@media (width >= 1440px) {
  .potr-size {
    grid-template-rows: auto auto auto 1fr;
    padding-top: 107px;
  }
}

.potr-size__title {
  color: #000;
  grid-area: 1 / 1 / 2 / 3;
  margin-bottom: 20px;
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-size__title {
    grid-column: 1 / 7;
    margin-bottom: 30px;
  }
}

@media (width >= 1440px) {
  .potr-size__title {
    grid-column: 1 / 13;
    margin-bottom: 66px;
  }
}

.potr-size__description {
  color: #4f4f4f;
}

@media (width >= 1440px) {
  .potr-size__description {
    grid-area: 2 / 1 / 4 / 4;
    width: 90%;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-size__description {
    grid-area: 2 / 1 / 3 / 6;
    margin-bottom: 38px;
  }
}

@media (width <= 767px) {
  .potr-size__description {
    grid-area: 2 / 1 / 3 / 3;
    margin-bottom: 30px;
  }
}

.potr-size__separating-line {
  display: none;
}

@media (width >= 1440px) {
  .potr-size__separating-line {
    background-color: #d8d8d8;
    grid-area: 2 / 3 / 4 / 4;
    justify-self: end;
    width: 1px;
    height: 257px;
    display: block;
    position: relative;
    top: 1px;
  }
}

.potr-size__image {
  display: block;
}

.potr-size__image-wrapper {
  grid-area: 2 / 7 / 5 / 13;
  justify-self: end;
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-size__image-wrapper {
    grid-area: 3 / 3 / 5 / 7;
    margin-bottom: 20px;
  }
}

@media (width <= 767px) {
  .potr-size__image-wrapper {
    grid-area: 3 / 1 / 4 / 3;
    justify-self: center;
    margin-bottom: 30px;
  }

  .potr-size__image {
    width: var(--cw);
  }
}

.potr-size__size {
  text-wrap: nowrap;
  grid-column: span 2;
  margin-bottom: 40px;
}

@media (width >= 1440px) {
  .potr-size__size:first-of-type {
    padding-top: 3px;
  }

  .potr-size__size:last-of-type {
    margin-bottom: 109px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-size__size {
    margin-bottom: 50px;
  }

  .potr-size__size:last-of-type {
    margin-bottom: 0;
  }
}

@media (width <= 767px) {
  .potr-size__size:last-of-type {
    margin-bottom: 15px;
  }
}

.potr-size__note {
  color: #4f4f4f;
  grid-area: 6 / 1 / 7 / 3;
  position: relative;
}

@media (width <= 319px) {
  .potr-size__note {
    width: calc(100% - 10px);
    left: 10px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .potr-size__note {
    grid-area: 5 / 1 / 6 / 7;
  }
}

@media (width >= 1440px) {
  .potr-size__note {
    grid-area: 4 / 1 / 5 / 7;
    width: 90%;
    left: 12px;
  }
}

.potr-size__star {
  position: absolute;
  right: calc(100% + 3px);
}

@media (width >= 1440px) {
  .potr-size__star {
    right: calc(100% + 5px);
  }
}

.size__title {
  color: #000;
  margin-bottom: 10px;
}

.size__description {
  color: #4f4f4f;
}

.benefits {
  grid-template-columns: repeat(2, 120px);
  justify-content: center;
  gap: 0 20px;
  padding-top: 110px;
  display: grid;
}

@media (width >= 768px) and (width <= 1439px) {
  .benefits {
    grid-template-columns: repeat(6, 100px);
  }
}

@media (width >= 1440px) {
  .benefits {
    grid-template-columns: repeat(12, 70px);
    column-gap: 30px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .benefits {
    padding-top: 105px;
  }
}

@media (width >= 1440px) {
  .benefits {
    padding-top: 286px;
  }
}

.benefits__photos {
  display: none;
}

@media (width >= 1440px) {
  .benefits__photos {
    grid-area: 1 / 1 / 5 / 6;
    display: block;
  }
}

.benefits__benefit {
  position: relative;
  left: 24px;
}

@media (width >= 1440px) {
  .benefits__benefit {
    text-wrap: nowrap;
    grid-column: span 4;
    margin-bottom: 40px;
  }

  .benefits__benefit:first-of-type {
    grid-column: span 3;
  }

  .benefits__benefit:last-of-type {
    margin-bottom: 60px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .benefits__benefit {
    grid-column: span 3;
    width: calc(100% - 24px);
    margin-bottom: 30px;
  }

  .benefits__benefit:nth-of-type(2) {
    grid-area: 3 / 1 / 4 / 4;
    margin-bottom: 0;
  }
}

@media (width <= 767px) {
  .benefits__benefit {
    grid-column: span 2;
    margin-bottom: 40px;
    left: 0;
  }

  .benefits__benefit:last-of-type {
    margin-bottom: 50px;
  }
}

@media (width <= 767px) and (width <= 319px) {
  .benefits__benefit {
    width: calc(100% - 24px);
    left: 24px;
  }
}

@media (width >= 1440px) {
  .benefits__button {
    grid-area: 3 / 6 / 4 / 9;
    width: calc(100% - 32px);
    margin-bottom: 70px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .benefits__button {
    grid-area: 1 / 4 / 2 / 6;
    width: calc(100% + 20px);
    position: relative;
    top: 101px;
  }
}

@media (width <= 767px) {
  .benefits__button {
    grid-area: 4 / 1 / 5 / 3;
    width: calc(100% - 22px);
    margin-bottom: 40px;
  }
}

.benefits__discount-info {
  grid-area: 5 / 1 / 6 / 3;
}

@media (width >= 768px) and (width <= 1439px) {
  .benefits__discount-info {
    grid-area: 2 / 4 / 3 / 6;
    position: relative;
    top: 71px;
  }
}

@media (width >= 1440px) {
  .benefits__discount-info {
    grid-area: 4 / 7 / 5 / 12;
  }
}

.benefits__percentage {
  color: #eb5757;
  margin-bottom: 10px;
}

.benefits__discount {
  color: #03839e;
}

.benefits__aside-potr-pots-wrapper {
  grid-area: 1 / 6 / 2 / 7;
  transform: translateX(10px);
}

.photos {
  position: relative;
}

.photos__photo {
  transform-origin: 100% 100%;
  position: absolute;
}

.photos__photo:first-of-type {
  bottom: 387px;
  right: 297px;
  transform: rotate(-15deg);
}

.photos__photo:nth-of-type(2) {
  bottom: 477px;
  right: 81px;
  transform: rotate(-29deg);
}

.photos__photo:nth-of-type(3) {
  bottom: 199px;
  right: 127px;
  transform: rotate(-15deg);
}

.photos__photo:nth-of-type(4) {
  bottom: 2px;
  right: 0;
  transform: rotate(-30deg);
}

.photos__photo:nth-of-type(5) {
  bottom: -80px;
  right: 247px;
  transform: rotate(-16deg);
}

.photos__photo:nth-of-type(6) {
  bottom: 81px;
  right: 368px;
  transform: rotate(0);
}

.photo {
  box-sizing: border-box;
  background-color: #fff;
  height: 240px;
  padding: 16px 16px 0;
}

.photo__image {
  object-fit: cover;
  width: 183px;
  height: 183px;
  margin-bottom: 6px;
  display: block;
}

.photo__caption {
  color: #828282;
  width: 183px;
}

.photo--size--small {
  height: 212px;
  padding: 14px 14px 0;
}

.photo--size--small .photo__image {
  width: 161px;
  height: 161px;
}

.photo--size--small .photo__caption {
  width: 161px;
}

.benefit__title {
  color: #333;
  margin-bottom: 5px;
  position: relative;
}

.benefit__point {
  background-color: #4f4f4f;
  width: 7px;
  height: 7px;
  position: absolute;
  top: calc(50% - 3.5px);
  right: calc(100% + 12px);
  transform: rotate(45deg);
}

@media (width <= 767px) {
  .benefit__point {
    right: calc(100% + 10px);
  }

  .benefit:nth-of-type(2) .benefit__point {
    top: calc(25% - 3.5px);
  }
}

.benefit__description {
  color: #828282;
}

.questions {
  grid-template-columns: repeat(2, 120px);
  justify-content: center;
  gap: 0 20px;
  padding-top: 155px;
  display: grid;
  position: relative;
}

@media (width >= 768px) and (width <= 1439px) {
  .questions {
    grid-template-columns: repeat(6, 100px);
  }
}

@media (width >= 1440px) {
  .questions {
    grid-template-columns: repeat(12, 70px);
    column-gap: 30px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .questions {
    padding-top: 120px;
  }
}

@media (width >= 1440px) {
  .questions {
    padding-top: 190px;
  }
}

.questions__image {
  display: block;
}

.questions__image-wrapper {
  position: absolute;
  top: 37px;
  right: 0;
}

@media (width >= 768px) and (width <= 1439px) {
  .questions__image-wrapper {
    top: -4px;
  }
}

@media (width >= 1440px) {
  .questions__image-wrapper {
    top: 57px;
    right: calc((var(--cw)  - 840px - 330px) / 2 - 74px);
  }
}

.questions__trapezoid {
  border-bottom: 154px solid #0000;
  border-left: calc((var(--cw)  - 240px - 20px) / 2 * 1 + 1440px + 220px) solid #ffec7a;
  height: 406px;
  top: 152px;
}

@media (width >= 768px) and (width <= 1439px) {
  .questions__trapezoid {
    border-left: calc((var(--cw)  - 600px - 100px) / 2 * 1 + 1200px + 220px) solid #ffec7a;
  }
}

@media (width >= 1440px) {
  .questions__trapezoid {
    border-left: calc((var(--cw)  - 840px - 330px) / 2 * 1 + 840px + 330px) solid #ffec7a;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .questions__trapezoid {
    border-bottom: 92px solid #0000;
    border-left: calc((var(--cw)  - 240px - 20px) / 2 * 2 + 720px + 100px) solid #ffec7a;
    height: 385px;
    top: 103px;
  }
}

@media (width >= 768px) and (width <= 1439px) and (width >= 768px) and (width <= 1439px) {
  .questions__trapezoid {
    border-left: calc((var(--cw)  - 600px - 100px) / 2 * 2 + 600px + 100px) solid #ffec7a;
  }
}

@media (width >= 768px) and (width <= 1439px) and (width >= 1440px) {
  .questions__trapezoid {
    border-left: calc((var(--cw)  - 840px - 330px) / 2 * 2 + 420px + 150px) solid #ffec7a;
  }
}

@media (width <= 767px) {
  .questions__trapezoid {
    border-bottom: 87px solid #0000;
    border-left: calc((var(--cw)  - 240px - 20px) / 2 * 2 + 240px + 20px) solid #ffec7a;
    height: 916px;
    top: 110px;
  }
}

@media (width <= 767px) and (width >= 768px) and (width <= 1439px) {
  .questions__trapezoid {
    border-left: calc((var(--cw)  - 600px - 100px) / 2 * 2 + 200px + 20px) solid #ffec7a;
  }
}

@media (width <= 767px) and (width >= 1440px) {
  .questions__trapezoid {
    border-left: calc((var(--cw)  - 840px - 330px) / 2 * 2 + 140px + 30px) solid #ffec7a;
  }
}

.questions__title {
  color: #000;
  grid-area: 1 / 1 / 2 / 5;
}

@media (width <= 767px) {
  .questions__title {
    grid-column: 1 / 3;
  }
}

.questions__description {
  color: #000;
  grid-area: 2 / 1 / 3 / 3;
  margin-bottom: 30px;
}

@media (width <= 767px) {
  .questions__description {
    margin-bottom: 40px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .questions__description {
    grid-column: 1 / 4;
  }
}

@media (width >= 1440px) {
  .questions__description {
    grid-column: 1 / 5;
  }
}

.questions__message {
  grid-area: 3 / 1 / 4 / 3;
}

@media (width <= 767px) {
  .questions__message {
    margin-bottom: 56px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .questions__message {
    grid-column: 1 / 4;
  }
}

@media (width >= 1440px) {
  .questions__message {
    grid-column: 1 / 5;
  }
}

.questions__address {
  grid-area: 1 / 7 / 4 / 10;
}

@media (width >= 1440px) {
  .questions__address {
    padding-top: 42px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .questions__address {
    grid-column: 5 / 7;
    padding-top: 54px;
  }
}

@media (width <= 767px) {
  .questions__address {
    grid-area: 4 / 1 / 5 / 3;
  }
}

.message {
  grid-template-columns: subgrid;
  grid-template-rows: auto auto auto 69px auto;
  display: grid;
}

@media (width <= 767px) {
  .message {
    grid-template-rows: auto auto auto 59px auto;
  }
}

.message__title {
  color: #000;
  grid-column: span 2;
  margin-bottom: 40px;
}

@media (width <= 767px) {
  .message__title {
    margin-bottom: 25px;
  }
}

.message__item {
  grid-column: span 2;
  margin-bottom: 20px;
}

@media (width >= 768px) and (width <= 1439px) {
  .message__item {
    grid-column: span 3;
  }
}

@media (width >= 1440px) {
  .message__item {
    grid-column: span 4;
  }
}

.message__item:last-of-type {
  margin-bottom: 0;
}

.message__label:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.message__input {
  box-sizing: border-box;
  color: #4f4f4f;
  background-color: #0000;
  border: none;
  border-bottom: 1px solid #0000004d;
  outline: none;
  width: 100%;
  height: 29px;
  padding: 0 0 4px 6px;
}

.message__input::placeholder {
  color: #4f4f4f;
}

.message__input:focus {
  border-color: #03839e;
}

.message__input:not(:placeholder-shown):valid {
  color: #03839e;
  border-color: #03839e;
}

.message__input:not(:placeholder-shown):invalid {
  color: #eb5757;
  border-color: #eb5757;
}

.message__input:-webkit-autofill {
  -webkit-text-fill-color: #f8f8f8;
  border-width: 3px;
  -webkit-box-shadow: inset 0 0 0 1000px #4f4f4f;
}

.message__input:-webkit-autofill:hover {
  -webkit-text-fill-color: #f8f8f8;
  border-width: 3px;
  -webkit-box-shadow: inset 0 0 0 1000px #4f4f4f;
}

.message__input:-webkit-autofill:focus {
  -webkit-text-fill-color: #f8f8f8;
  border-width: 3px;
  -webkit-box-shadow: inset 0 0 0 1000px #4f4f4f;
}

.message__textarea {
  resize: none;
  color: #4f4f4f;
  background-color: #0000;
  overflow: hidden;
}

.message__textarea-wrapper {
  display: grid;
}

.message__textarea-wrapper:after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.message__textarea::placeholder {
  color: #4f4f4f;
}

.message__textarea:focus {
  border-color: #03839e;
}

.message__textarea:not(:placeholder-shown):valid {
  color: #03839e;
  border-color: #03839e;
}

.message__textarea:not(:placeholder-shown):invalid {
  color: #eb5757;
  border-color: #eb5757;
}

.message__textarea, .message__textarea-wrapper:after {
  box-sizing: border-box;
  overflow-wrap: break-word;
  border: none;
  border-bottom: 1px solid #0000004d;
  outline: none;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  max-width: 260px;
  height: auto;
  max-height: 49px;
  padding: 0 0 4px 6px;
}

@media (width <= 767px) {
  .message__textarea, .message__textarea-wrapper:after {
    max-height: 39px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .message__textarea, .message__textarea-wrapper:after {
    max-width: 340px;
  }
}

@media (width >= 1440px) {
  .message__textarea, .message__textarea-wrapper:after {
    max-width: 370px;
  }
}

.message__button {
  grid-column: span 2;
}

@media (width >= 1440px) {
  .message__button {
    grid-column: span 3;
    width: calc(100% - 32px);
  }
}

.address__label {
  color: #00000063;
  margin-bottom: 5px;
}

.address__content {
  color: #000;
  margin-bottom: 34px;
  text-decoration: none;
  display: block;
}

.address__content--link {
  transition: color .3s;
}

.address__content--link:hover {
  color: #03839e;
}

.address__content:last-child {
  margin-bottom: 0;
}

@media (width >= 768px) and (width <= 1439px) {
  .address__content {
    width: 90%;
    margin-bottom: 20px;
  }
}

@media (width >= 1440px) {
  .address__content {
    margin-bottom: 25px;
  }
}

.footer {
  grid-template-columns: repeat(2, 120px);
  justify-content: center;
  gap: 0 20px;
  padding-top: 184px;
  padding-bottom: 64px;
  display: grid;
}

@media (width >= 768px) and (width <= 1439px) {
  .footer {
    grid-template-columns: repeat(6, 100px);
  }
}

@media (width >= 1440px) {
  .footer {
    grid-template-columns: repeat(12, 70px);
    column-gap: 30px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .footer {
    padding-top: 113px;
    padding-bottom: 117px;
  }
}

@media (width <= 767px) {
  .footer {
    padding-top: 102px;
    padding-bottom: 30px;
  }
}

.footer__end-info {
  grid-column: 1 / 3;
}

.footer__end-info:last-child {
  grid-column: 11 / 13;
  justify-self: end;
}

@media (width >= 768px) and (width <= 1439px) {
  .footer__end-info:last-child {
    grid-column: 5 / 7;
  }
}

@media (width <= 767px) {
  .footer__end-info:last-child {
    grid-column: 1 / 3;
    justify-self: center;
  }
}

.footer__end-navigation {
  grid-column: 5 / 9;
}

@media (width >= 768px) and (width <= 1439px) {
  .footer__end-navigation {
    grid-column: 3 / 5;
  }
}

@media (width <= 767px) {
  .footer__end-navigation {
    grid-column: 1 / 3;
  }
}

.end-info {
  flex-direction: column;
  display: flex;
}

.end-info__title {
  color: #000;
  margin-bottom: 10px;
}

@media (width <= 767px) {
  .end-info__title {
    display: none;
  }
}

.end-info__content {
  color: #000;
  text-decoration: none;
}

.end-info__content--address {
  transition: color .3s;
}

.end-info__content--address:hover {
  color: #03839e;
}

@media (width <= 767px) {
  .end-info__content {
    display: none;
  }

  .end-info__content--copyright {
    display: block;
  }
}

.end-navigation {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.end-navigation__socials {
  margin-bottom: 74px;
}

@media (width >= 768px) and (width <= 1439px) {
  .end-navigation__socials {
    margin-bottom: 32px;
  }
}

@media (width <= 767px) {
  .end-navigation__socials {
    margin-bottom: 40px;
  }
}

.end-navigation__logo-link {
  color: #000;
}

.socials {
  gap: 70px;
  display: flex;
}

@media (width >= 768px) and (width <= 1439px) {
  .socials {
    gap: 80px;
  }
}

@media (width <= 767px) {
  .socials {
    gap: 85px;
  }
}

.social-link {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  transition: transform .3s;
  display: block;
}

@media (width >= 1440px) {
  .social-link {
    width: 30px;
    height: 30px;
  }
}

.social-link:hover {
  transform: scale(1.2);
}

.social-link--platform--twitter {
  background-image: url("twitter.2fa3d31d.svg");
}

@media (width >= 1440px) {
  .social-link--platform--twitter {
    background-image: url("twitter-desktop.495dd97e.svg");
  }
}

.social-link--platform--instagram {
  background-image: url("instagram.c4c6fe75.png");
}

@media (width >= 1440px) {
  .social-link--platform--instagram {
    background-image: url("instagram-desktop.543339b8.png");
  }
}

.social-link--platform--facebook {
  background-image: url("facebook.8a9e5ade.svg");
}

@media (width >= 1440px) {
  .social-link--platform--facebook {
    background-image: url("facebook-desktop.af0fa714.svg");
  }
}

.social-link__label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

/*# sourceMappingURL=index.971c2ea4.css.map */
